covid_segm_model/lungNET_take3 filter=lfs diff=lfs merge=lfs -text
test_cases/** filter=lfs diff=lfs merge=lfs -text
lungmask/lung_seg_model.pth filter=lfs diff=lfs merge=lfs -text
test_cases/mask/coronacases_001.nii filter=lfs diff=lfs merge=lfs -text
test_cases/ct/coronacases_org_001.nii filter=lfs diff=lfs merge=lfs -text
